<div id="content" class="search">
	{{> search_header}}

	{{> subheader data}}
	<div id="no-cat" class="pages">
		<section>
		{{#if logged_user}}
    		<!-- <p>Previous Searches</p>
    		{{#each data.previous.pool}}
			<a href="detail.html?id={{ID}}">
				<img src="{{thumb_url}}">
				<div>
					{{#if designer_brand.profile_pic}}
						<img src="{{designer_brand.profile_pic}}" alt="{{designer_brand.name}}" class="round profile_pic">
					{{else}}
						<i class="material-icons">account_circle</i>
					{{/if}}
					<h1>{{product_title}}</h1>
					<span>{{designer_brand.name}}</span>
				</div>
			</a>
			{{/each}} -->
    	{{else}}
    		<p>Previous Searches</p>
    		<p class="message"><a class="inline_link" id="account1">Log in</a> to see your previous search results here.</p>
    	{{/if}}
    	{{#if data.featured.count}}
			<p>Featured Products</p>
    		{{#each data.featured.pool}}
				<a href="detail.html?id={{ID}}" class="small link">
					<img src="{{thumb_url}}">
					<div>
						{{#if designer_brand.profile_pic}}
							<img src="{{designer_brand.profile_pic}}" alt="{{designer_brand.name}}" class="round profile_pic">
						{{else}}
							<i class="material-icons">account_circle</i>
						{{/if}}
						<h1>{{product_title}}</h1>
						<span>{{designer_brand.name}}</span>
					</div>
				</a>
			{{/each}}
    	{{/if}}
    	</section>
	</div>
	<div id="con-cat" class="pages">
		<div id="mask" class='swipe' style='width:100%'>
    	<ul>
    	<li class="pagina" style='display:block'>
	    	<section>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=6"><img src="images/6.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=7"><img src="images/7.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=8"><img src="images/8.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=9"><img src="images/9.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
	    	</section>
   		</li>
    	<li class="pagina" style='display:none'>
    		<section id="insert_namecat">
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=6"><img src="images/6.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=7"><img src="images/7.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=8"><img src="images/8.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=9"><img src="images/9.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
	    	</section>
    	</li>
    	<li class="pagina" style='display:none'>
    		<section>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=6"><img src="images/6.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=7"><img src="images/7.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=8"><img src="images/8.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=9"><img src="images/9.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
	    	</section>
    	</li>
    	<li class="pagina" style='display:none'>
    		<section>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=6"><img src="images/6.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=7"><img src="images/7.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=8"><img src="images/8.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=9"><img src="images/9.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=2"><img src="images/2.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=3"><img src="images/3.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=4"><img src="images/4.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
				<a href="detail.html?id=5"><img src="images/5.png"><div><i class="material-icons">account_circle</i><h1>Product Name</h1><span>Designer/Brand</span></div></a>
	    	</section>
    	</li>
    	</ul>
    	</div>
    </div>
    
</div>
{{> footer}}
{{> dom_assets}}
{{> sidemenu}}