<div id="static">
	{{#each featured}}
        <div id="superior1" class="arriba fotos">
				<a class="bigg link" href="post.html?id={{ID}}">
					{{#if thumb_url}}<img src="{{thumb_url}}">{{/if}}
					{{#unless thumb_url}}<img src="images/placeholder.png">{{/unless}}
					<div>
						<i class="material-icons">account_circle</i>
						<h1>{{product_title}}</h1><span>{{designer_brand}}</span>
					</div>
					<div>
						<p>{{product_description}}</p>
						<h2>$ {{price}}</h2>
					</div>
				</a>
    {{/each}}
	{{#each pool}}
		{{#if_module @index 4}}	
		</div>
		<div {{#if_eq @index 0}}id="inferior1" class="abajo fotos"{{/if_eq}}{{#if_eq @index 4}}id="superior2" class="arriba fotos merged" style="display:none;"{{/if_eq}}{{#if_eq @index 8}}id="inferior2" class="abajo fotos"{{/if_eq}}{{#if_eq @index 12}}id="superior3" class="arriba fotos merged" style="display:none;"{{/if_eq}}{{#if_eq @index 16}}id="inferior3" class="abajo fotos"{{/if_eq}} class="abajo fotos">
				<a class="small link" href="post.html?id={{ID}}">{{#if thumb_url}}<img src="{{thumb_url}}">{{/if}}{{#unless thumb_url}}<img src="images/placeholder.png">{{/unless}}<div>{{#if price}}<i class="material-icons">account_circle</i>{{/if}}<h1>{{product_title}}</h1><span>{{designer_brand}}</span></div><div><p>{{product_description}}</p>{{#if price}}<h2>$ {{price}}</h2>{{/if}}</div></a>
		{{else}}
				<a class="small link" href="post.html?id={{ID}}">{{#if thumb_url}}<img src="{{thumb_url}}">{{/if}}{{#unless thumb_url}}<img src="images/placeholder.png">{{/unless}}<div>{{#if price}}<i class="material-icons">account_circle</i>{{/if}}<h1>{{product_title}}</h1><span>{{designer_brand}}</span></div><div><p>{{product_description}}</p>{{#if price}}<h2>$ {{price}}</h2>{{/if}}</div></a>
		{{/if_module}}
	{{/each}}		
</div>
</div>
<div id="content-index" class="index">
	<div class="section" id="section1">{{#each featured}}<a class="replica grd" href="post.html?id={{ID}}"></a>{{/each}}{{#each pool}}<a class="replica sml" href="post.html?id={{ID}}"></a>{{#if_eq @index 3}}</div>
	<div class="section" id="section2">
		{{/if_eq}}{{#if_eq @index 11}}</div>
	<div class="section" id="section3">
		{{/if_eq}}{{/each}}
	</div>
</div>

<footer>
	<a href="search.html"><i class="material-icons">search</i></a>
	<a href="notifications.html"><i class="material-icons">notifications</i></a>
	<a href="map.html"><i class="material-icons">explore</i></a>
	<a href="cart.html"><i class="material-icons">shopping_cart</i></a>
</footer>
